<div class="row">
    <div  class="col-md-8 col-xl-6 mx-auto">
        <form [formGroup]="createFundForm" (ngSubmit)="onSubmit(buttonType)">
        <div class="card mt-1">
            <div class="card-header">
                <h2>Create a fund</h2>
            </div>
        </div>

        <div class="card-body">
            
                <div class="form-group form-row">
                    <label for="fundName"  class="col-md-4 col-form-label">Fund Name</label>
                    <div class="col-md-8">
                        <input type="text" name="fundName" id="fundName" placeholder="e.g. Vanguard all-weather" class="form-control" formControlName="fundName">
                    </div>
                </div>

                <div class="form-group form-row">
                    <label for="benchmark"  class="col-md-4 col-form-label">Benchmark</label>
                    <div class="col-md-8">
                        <input type="text" name="benchmark" id="benchmark" placeholder='e.g. S&P 500' class="form-control" formControlName="benchmark">
                    </div>
                </div>

                <div class="form-group form-row">
                    <label class="col-md-4 col-form-label">Fund Status: </label>

                    <div class="form-check-label form-check-inline" *ngFor="let status of fundStatus">
                        <label [for]="status" class="form-check-label">{{status}}</label>
                        <input type="radio" name="fundStatus" [id]="status" [value]="status" class="form-check-input" formControlName="fundStatus">
                    </div>
                </div>


                <div class="form-group form-row">
                    <label for="attributeID"  class="col-md-4 col-form-label">Fund Attribute: </label>
                    <div class="col-md-8">
                        <select name="attributeID" id="attributeID" class="form-control" formControlName="attributeName">
                            <option value="null">Selecte a fund attribute</option>
                            <option *ngFor="let fundAttribute of fundAttributes" [value]="fundAttribute.attributeName">
                                {{ fundAttribute.attributeName }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-row">
                    <label for="col-md-4 col-form-label"></label>
                    <div class="col-md-8">
                        <input type="checkbox" name="watchThisFund" id="watchThisFund" value="true" class="form-check-input" formControlName="watchThisFund">
                        <label for="watchThisFund">Watch this fund?</label>
                    </div>
                </div>
            {{ createFundForm.value | json }}
        </div>

        <div class="card-footer">
            <button class="btn btn-success float-right" (click)="onSubmit('Create Fund')">Create Fund</button>
            <button class="btn btn-success float-right" (click)="onSubmit('Set Fund')">Set Fund</button>
            <button class="btn btn-success float-right" (click)="onSubmit('Patch Fund')">Patch Fund</button>
            <button class="btn btn-success float-right" (click)="onSubmit('Reset Fund')">Reset Fund</button>
        </div>
        </form>
    </div>
</div>

